body{
    background-color: black;
}

.container { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 450px 450px;
    height: 1000px;
    padding-top: 50px;
    padding-left: 30px;

}
img{
    height: 162.5px;
    width: 162.5px;
    padding-left: 80px;
}

.item{
    padding: 5px 10px 30px 15px;
    border-radius: 20px;
    margin: 2px;
    background-color: white;
    
    
}

img:hover {
    transform: scale(1.2);
}

p {
    margin: 10px;
}